

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container h3{
    margin-top: 10px;
    color: blue;
}

.container .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .content input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

.container .content input:hover{
    border-bottom: 1px solid black;
}

.container .content button{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.container .content button:hover{
    background-color: burlywood;
}

.container .content .link link{
    text-decoration-line: none;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}

/* .attention {
    padding: 20px;
} */






