
.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login .container{
    /* background-color: darkgray; */
}
.login .container h3{
    color: blue;
}

.login .container .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login .container .content input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

.login .container .content input:hover{
    border-bottom: 1px solid black;
}

.login .container .content button{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.login .container .content button:hover{
    background-color: burlywood;
}

.login .container .content .link link{
    text-decoration-line: none;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}








