
/* .readme {
    border: 1.5px solid grey;
    box-shadow: 3.5px 3.5px #495057;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px;
    width: 45vw;
}
.readme .cuadro {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.readme h4 {
    color: blue;
    padding: 5px;
}
.readme h5{
    padding: 5px;
}
.readme .button-table{
    border-radius: 7px;
    width: fit-content;
} */
