
.navigation-div{
    background-color: blue;
    margin-bottom: 10px;
    
}

i{
    color: white;
    font-size: 1.8rem;
    /* position: fixed; */
    margin-left: 4px;  
}

i:hover , i:focus{
    color: black;
}
