
.new-player {
    padding: 20px;
}

.new-player form input {
    width: 40%;
}

.btn-primary {
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #dee2e6;
    color: #212529;
}



