
/* html, body {
    padding: 20px;   
} */

.table {
    padding: 20px;
}
.btn-primary {
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #dee2e6;
    color: #212529;
}
.button-table {
    background-color: #dee2e6;
    border: none;
    color: #495057;
    padding-left: 20px;
    margin-right: 20px;
    /* height: ;
    width: 20vw; */
}
.button-table:hover {
    color: #212529;
}

