
/* html, body {
    padding: 20px;   
} */

.table1 {
    /* margin-top: 20px; */
    padding: 10px;
}

.btn-primary {
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #dee2e6;
    color: #212529;
}
/* .button-table {
    background-color: #dee2e6;
    border: none;
    color: #495057;
    margin-top: 30px;
    margin-right: 7px;
    margin-bottom: 8px;
    width: fit-content;
}
.button-table:hover {
    color: #212529;
}  */

.button-trash{
    border-radius: 7px;
    background-color: red;
    border: none;
    color: white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin-bottom: 5px;
    width: fit-content;
}
.button-trash .fa-trash{
    font-size: 12px;
    /* width: 30px; */
}

.editing-zone{
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.readme {
    border: 1.5px solid grey;
    box-shadow: 3.5px 3.5px #495057;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px;
    height: 30vh;
    width: 45vw;
}
.readme .cuadro {
    /* display: flex;
    flex-direction: column; */
    padding: 5px;
}
.readme .cuadro .cuadro-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.readme .cuadro .cuadro-buttons .button-table{
    border: none;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: aquamarine;

}
/* .readme h4 {
    padding: 5px;
} */
/* .readme h5{
    padding: 5px;

} */
/* .readme .button-table{
    border-radius: 7px;
    width: fit-content;
} */
.cont-edit {
    margin-left: 15px;
    border: 1.5px solid grey;
    box-shadow: 3.5px 3.5px #495057;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    width: 48vw;
}
.secondDiv {
    padding: 15px;
}
.form-edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    
}
.form-edit input{
    width: 60px;
}
.label1{
    margin-right: 10px;
}
.guardar-cambios {
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 7px;
    font-weight: 100px;
    width: 100%;
}



@media (max-width: 460px) {
    .readme .cuadro .cuadro-buttons{
        display: flex;
        flex-direction: column;
        /* margin-top: 5px; */
    }
    .readme .cuadro .cuadro-buttons{
        
        margin-top: 20px;
    }
    .readme .cuadro .cuadro-buttons .button-table{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 380px) {
    .readme .cuadro .cuadro-buttons{
        display: flex;
        flex-direction: column;
        /* margin-top: 5px; */
    }
    .readme .cuadro .cuadro-buttons{
        
        margin-top: 10px;
    }
    .readme .cuadro .cuadro-buttons .button-table{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


