
/* html, body {
    padding: 20px;   
} */

.table {
    padding: 20px;
}
.btn-primary {
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #dee2e6;
    color: #212529;
}
.button-table {
    background-color: #dee2e6;
    border: none;
    color: #495057;
    padding-left: 20px;
    margin-right: 20px;
    width: 20vw;
}
.button-table:hover {
    color: #212529;
} 

.readme {
    border: 1.5px solid grey;
    box-shadow: 3.5px 3.5px #495057;
    margin-left: 15px;
    padding: 5px;
    width: fit-content;
}
.readme h4 {
    color: blue;
    padding: 5px;
}
.readme h5{
    padding: 5px;
}
.readme .button-table{
    border-radius: 7px;
}